In [1]:


import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('customers.csv')

# Display the first few rows of the DataFrame
print("First few rows of the DataFrame:")
print(data.head())

# Change column data type
data['Age'] = data['Age'].astype(float)
print("\nColumn data types after changing 'Age' to float:")
print(data.dtypes)

# Explain index
print("\nIndex of the DataFrame:")
print(data.index)

# Rename column
data.rename(columns={'City_Location': 'City'}, inplace=True)
print("\nColumn names after renaming 'City_Location' to 'City':")
print(data.columns)

# Use describe
print("\nSummary statistics of the DataFrame:")
print(data.describe())

# Query the DataFrame
print("\nQuerying the DataFrame for customers with income over $100,000:")
high_income_customers = data[data['Income'] > 100000]
print(high_income_customers.head())

# Sorting
print("\nSorting the DataFrame by age in descending order:")
sorted_data = data.sort_values(by='Age', ascending=False)
print(sorted_data.head())

# Adding and dropping columns
data['New_Column'] = np.random.randint(0, 2, size=len(data))  # Adding a new column with random values
print("\nDataFrame after adding a new column 'New_Column':")
print(data.head())

data.drop(columns=['New_Column'], inplace=True)  # Dropping the newly added column
print("\nDataFrame after dropping the 'New_Column':")
print(data.head())

# Appending (concatenate) rows
# If you don't specify ignore_index=True, Pandas will preserve the original row index labels of the DataFrames being concatenated.
# This might result in duplicate index labels or non-sequential index labels in the resulting DataFrame, which can lead to
# confusion or errors in downstream analysis.
new_row = pd.DataFrame({'Age': [35], 'Gender': ['Male'], 'Income': [80000], 'Socks_Owned': [10], 'Frequent_Losers': [False], 'City': ['Chicago']})
data = pd.concat([data, new_row], ignore_index=True)
print("\nDataFrame after appending a new row:")
print(data.tail())

First few rows of the DataFrame:
   Age  Gender  Income  Socks_Owned  Frequent_Losers  City_Location
0   44  Female   25841            8            False      Charlotte
1   94    Male  135636           16            False     Washington
2   64  Female  116639           19            False       New York
3   40    Male   85988           20            False       New York
4   66    Male   80867            8            False  San Francisco

Column data types after changing 'Age' to float:
Age                float64
Gender              object
Income               int64
Socks_Owned          int64
Frequent_Losers       bool
City_Location       object
dtype: object

Index of the DataFrame:
RangeIndex(start=0, stop=100000, step=1)

Column names after renaming 'City_Location' to 'City':
Index(['Age', 'Gender', 'Income', 'Socks_Owned', 'Frequent_Losers', 'City'], dtype='object')

Summary statistics of the DataFrame:
                 Age         Income    Socks_Owned
count  100000.000000  100000.000000  100000.000000
mean       51.775620   84878.002260      10.505810
std        19.814991   37495.991574       5.776975
min         4.000000   20001.000000       1.000000
25%        37.000000   52445.750000       5.000000
50%        52.000000   84803.500000      10.000000
75%        66.000000  117263.250000      16.000000
max        99.000000  150000.000000      20.000000

Querying the DataFrame for customers with income over $100,000:
     Age  Gender  Income  Socks_Owned  Frequent_Losers          City
1   94.0    Male  135636           16            False    Washington
2   64.0  Female  116639           19            False      New York
7   75.0  Female  118308           19            False       Phoenix
20  43.0    Male  133791           19            False   San Antonio
22  84.0    Male  130161            4            False  Philadelphia

Sorting the DataFrame by age in descending order:
        Age  Gender  Income  Socks_Owned  Frequent_Losers      City
18802  99.0  Female  147213            4            False  Columbus
24351  99.0    Male  147938            3            False   Phoenix
20671  99.0  Female  149556            3            False   Houston
36897  99.0    Male  148270           18            False  San Jose
79645  99.0  Female  149917            3            False  Columbus

DataFrame after adding a new column 'New_Column':
    Age  Gender  Income  Socks_Owned  Frequent_Losers           City  \
0  44.0  Female   25841            8            False      Charlotte
1  94.0    Male  135636           16            False     Washington
2  64.0  Female  116639           19            False       New York
3  40.0    Male   85988           20            False       New York
4  66.0    Male   80867            8            False  San Francisco

   New_Column
0           1
1           1
2           0
3           0
4           1

DataFrame after dropping the 'New_Column':
    Age  Gender  Income  Socks_Owned  Frequent_Losers           City
0  44.0  Female   25841            8            False      Charlotte
1  94.0    Male  135636           16            False     Washington
2  64.0  Female  116639           19            False       New York
3  40.0    Male   85988           20            False       New York
4  66.0    Male   80867            8            False  San Francisco

DataFrame after appending a new row:
         Age  Gender  Income  Socks_Owned  Frequent_Losers           City
99996   40.0  Female  114559            5            False     Fort Worth
99997   49.0  Female   97093            1            False     Washington
99998   29.0  Female   73627           14            False       New York
99999   92.0  Female  131986            6            False  San Francisco
100000  35.0    Male   80000           10            False        Chicago